/***

====================================================================
 Counter css
====================================================================

***/
.parters-section img {
    width: 100% !important;
    height: 100% !important;
}
#icon-card .card:hover {
    border-bottom: 3px solid #c81c27 !important;
}
#icon-card .card{
    border-bottom: 3px solid transparent;
}
.counter-box {
  background: #003478;
  text-align: center;
  padding: 25px;
  border-radius: 10px;
  color: #fff;
}

.icon-outer {
  position: relative;
  display: block;
  width: 120px;
  height: 120px;
  padding: 31px;
  margin: 0 auto 20px;
}

.counter-box span.icon-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../ra-image/theme-icon-2.png) center center no-repeat;
  opacity: 0.1;
  background-size: contain;
}

.counter-box span.icon-bg {
  -webkit-animation-name: rotateScale;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: rotateScale;
  -moz-animation-duration: 20s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: rotateScale;
  -ms-animation-duration: 20s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: rotateScale;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotateScale {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes rotateScale {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg);
  }
}

@-moz-keyframes rotateScale {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg);
  }
}

@-o-keyframes rotateScale {
  from {
    transform: rotate(0deg) scale(1);
  }
  to {
    transform: rotate(360deg);
  }
}

.counter-box h2 {
  font-size: 35px;
  font-weight: 600;
}

.counter-box p.count-text {
  font-size: 16px;
}

.icon-outer i {
  background: #fff;
  width: 55px;
  height: 55px;
  border-radius: 100%;
  color: #003478;
  font-size: 35px;
  line-height: 52px;
}


/***

====================================================================
 Services Section
====================================================================

***/



/**** banner section*****/
.banner_section {
background-image: url(../images/home_1_banner_img.png);
  background-blend-mode: overlay;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.banner_section h1{
    color: #EDEDED;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px;
    letter-spacing: 0em;
    text-align: left;
    font-family: 'Rubik' !important;

}

.banner_text {
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: white;
}





/*** feel rested section ***/
.feel_rested-sec{
  background-image: url(../images/join_us_back1.png);
    background-blend-mode: overlay;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 210px 0px !important;
}

.feel_rested-sec .inner_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}
.feel_rested-sec .inner_text .img_sec img{

max-width: 123px;
width: 100%;
height: 74px;
}
.feel_rested-sec .inner_text .small_text{
font-family: Franklin Gothic Book;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: 32px;
letter-spacing: 0em;
text-align: center;
}


.we_build_sec .box_section .card {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}

.we_build_sec .box_section .card:before{   
    padding: 0px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    height: 30%;
    background: #c81c27;
    -webkit-transform: skew(
-40deg) translateX(-90%);
    transform: skew(
-40deg) translateX(-90%);
    opacity: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.we_build_sec .box_section .card:hover::before {
    -webkit-transform: skew( 
-56deg) translateX(-50%);
    transform: skew( 
-38deg) translateX(-80%);
    -webkit-transition-delay: 0.1s;
    transition-delay: 0.1s;
    opacity: 0.6;
}

.we_build_sec .box_section .card .text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.we_build_sec .box_section .card .text img{
    height: 76px;
    max-width:70px;
  margin-bottom:10px;
}
.we_build_sec .box_section .card .circle{
    background: #FFD9DA;
    max-width: 100%;
    height: 104px;
    width: 104px;
    border-radius: 50%;
  }

.we_build_sec .box_section .card .text h3{
    font-size: 24px;
    font-weight: 400;
    font-family: Libre Franklin !important;
}

.we_build_sec .box_section .card .text p:nth-of-type(1){
    font-size: 15px;
    margin-top: -5px;
}

.we_build_sec .box_section .card .text p:nth-of-type(2){
    margin: 10px;
    width: 90%;
    text-align: center;
}

.we_build_sec .box_section .card .links{
    width: 30%;
    display: flex;
    justify-content: space-evenly;
}

.we_build_sec .box_section .card .links i{
    color: rgb(35, 182, 219);
    font-size: 20px;
    cursor: pointer;
}

.we_build_sec .box_section .card .links i:hover{
    color:rgb(29, 157, 189) ;
}

.we_build_sec:before{
    content: "";
    position: absolute;
    background-size: auto;
    width: 100%;
    display: block;
    z-index: -1;
    background-image: url(../images/we_build_back_img.png);
    background-position: top right;
    background-repeat: no-repeat;
    top: 57px;
    height: 100%;
}






/*** we are team ssection ***/
.we_are_team_sec h2{
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 70px;
letter-spacing: 0em;
text-align: center;
font-family: 'Rubik' !important;
}
.we_are_team_sec h2 span{

    color: blue;
}

.we_are_team_sec .small_text{
font-family: Libre Franklin !important;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 27px;
letter-spacing: 0em;
text-align: center;
}



.testimonials{
position: relative;
    padding: 100px 0px;

}
#customers-testimonials {
  .item-details{
    background-color: #333333;
    color: #fff;
    padding: 20px 10px;
    text-align: left;
  }
    h5{
      margin: 0 0 15px;
      font-size: 18px;
      line-height: 18px;
    }
      span{
        color: red;
        float:right;
        padding-right: 20px;
      }
    }
    p{
      font-size: 14px;
    }
  }
  .item {
      text-align: center;
      // padding: 20px;
      margin-bottom:80px;
  }
}
.owl-carousel .owl-nav [class*='owl-'] {
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}
.owl-carousel .owl-nav [class*='owl-'].disabled:hover {
  background-color: #D6D6D6;
}
.owl-carousel {
  position: relative;
}
.owl-carousel .owl-next,
.owl-carousel .owl-prev {
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 30%;
  font-size: 50px;
  color: #fff;
  border: 1px solid #ddd;
  text-align: center;
}
.owl-carousel .owl-prev {
  left: -70px;
}
.owl-carousel .owl-next {
  right: -70px;
}

.owl-carousel .owl-item img{
      max-width: 140px;
    margin: 0 auto;
    border-radius: 50%;
    height: 140px;
}



.owl-carousel .owl-item h5{
  color: #0c0b47;
  font-size: 30px;
}

.owl-carousel .owl-next, .owl-carousel .owl-prev:before{
    color: #0c0b47;
    content: "\f104";
    position: absolute;
    content: "\f104";
    position: absolute;
    font-size: 37px;
    font-family: 'FontAwesome';
}

.owl-carousel .owl-item p{
      color: #3a3a3a91;
}



.we_are_team_sec:before {
    content: "";
    position: absolute;
    background-size: auto;
    width: 100%;
    display: block;
    z-index: -1;
    background-image: url(../images/we_are_challenge_back2.png);
    background-position: top right;
    background-repeat: no-repeat;
    top: 190px;
    height: 100%;
}
.we_are_team_sec:after {
    content: "";
    position: absolute;
    /* background-size: auto; */
    width: 100%;
    display: block;
    z-index: -1;
    background-image: url(../images/we_are_challenge_back1.png);
    background-position: top right;
    background-repeat: no-repeat;
    top: -30px;
    height: 100%;
    right: 90%;
}
/*------------------ Button Style--------------*/
a.login-btn {
    background-color: #FF6E79;
    padding: 7px 30px;
    color: #fff;
    border-radius: 30px;
    margin-left: 20px;
}
.login-btn {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.login-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3B69E2;
  border-radius: 30px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.login-btn:hover, .login-btn:focus, .login-btn:active {
  color: white;
}
.login-btn:hover:before, .login-btn:focus:before, .login-btn:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/*---------------------------*/
.get-in-touch-btn {
  color: #392C4A;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  padding:10px 30px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  font-family: Libre Franklin !important;
}
.get-in-touch-btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #3B69E2;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.get-in-touch-btn:hover, .get-in-touch-btn:focus, .get-in-touch-btn:active {
  color: white;
  
  border:1px solid #3B69E2;
}
.get-in-touch-btn:hover:before, .get-in-touch-btn:focus:before, .get-in-touch-btn:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}


/*-------------Join Us Section---------*/
.join-us-sec:before {
content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;
    background-image: url(../images/join_us_back.png);
    background-position: top right;
    background-repeat: no-repeat;
    top: -90px;
    right: 94%;
}


.join-us-sec h2{
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: 70px;
  letter-spacing: 0em;
  text-align: center;
}
.join-us-sec h2 span{
    color: blue;
}
.join-us-sec .small_text{
  font-family: 'Rubik' !important;
  font-weight: normal;
  font-size: 20px;
  line-height: 176.5%;
  text-align: center;
  color: #0D0A47;
}
.join-us-sec .role-sec {
    padding-top: 50px;
}
.join-us-sec .deg_role{
  display:flex;
}
.join-us-sec .deg_role i {
    padding-right: 10px;
    font-size: 18px;
    line-height: 147.5%;
    color: #0D0A47;
}
.join-us-sec .deg_role p {
  font-family: 'Rubik' !important;
    font-size: 18px;
    line-height: 147.5%;
    color: #0D0A47;
}
.join-us-sec .deg-para1 p {
  font-family: 'Rubik' !important;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 147.5%;
    color: #272726;
    opacity: 0.5;
}
.join-us-sec .role-sec .col-lg-4 {
    padding: 0px 20px;
}

.main-header .navbar-light .navbar-toggler {
    border-color: #fff;
    background-color: #fff;
}
.shadow-effect .item-details h5 {
    font-family:Libre Franklin !important;
    font-size: 24px;
    line-height: 132.5%;
    text-align: center;
    color: #3A3A3A;
}
.shadow-effect p{
  font-family:Libre Franklin !important;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 147.5%;
text-align: center;
letter-spacing: 0.06em;
color: #3A3A3A;
opacity: 0.5;
}
.join-card {
    box-shadow: rgb(0 0 0 / 15%) 0px 5px 15px 0px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
 
}
.join-card:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 0%;
  bottom: 0;
  background: #ff6e79;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.join-card:hover:before, .join-card:focus:before, .join-card:active:before {
  left: 0;
  right: 0;
}

@media(max-width:768px){
  .banner_section h1 {
    color: #EDEDED;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    text-align: left;
}
  .footer-section .privacy-row p{
    line-height:132.5%;
    text-align:center;
  }
  .footer-section {
    padding-bottom: 10px;
  }
}
@media(max-width:767px){
  .footer-logo {
    margin-bottom: 40px;
    padding-bottom: 40px;
  }  
}


/*--------partners and Investors section----------*/

.parters-section {
    background-color: #FFD9D9;
}
.partners-block {
    background: #F1EEEE;
    /*width: 100%;
    height: 70px;*/
    margin-bottom: 15px;
}
.parters-section h1 {
    margin-bottom: 36px;
    font-weight: normal;
    font-size: 36px;
    line-height: 100%;
    text-align: center;
    color: #0D0A47;
    font-family: 'Rubik' !important;
}



/******* Media Queries ********/
/*============= responsive media query ============= */

@media(min-width:1400px) {
  .section {
    padding: 100px 0;
  }
}

@media(max-width:991px) {
  .container {
    max-width: 100% !important;
  }
  .banner h2 {
    font-size: 40px;
    padding-top: 50px;
  }
  .card {
    margin-bottom: 30px;
  }
  .mobile-wrapper {
    display: block;
  }
  .desktop-wrapper {
    display: none;
  }
  div#navbarSupportedContent {
    position: absolute;
    top: 79px;
    z-index: 9;
    background: #00317b;
    width: 100%;
    right: 0;
    padding: 20px 0px;
  }
  a.login-btn{
    margin-left: 0 !important;
  }
  .main-header .navigation {
    padding-top: 0;
    margin: 0 !important;
    display: block;
    float: none !important;
  }
  .main-header .logo-item {
    width: 30%;
  }
  .main-header .logo-item img {
    width: 100%;
    max-width: 80px;
  }
  .main-page-content {
    padding-top: 83px;
  }
  .main-header .navigation ul.navbar-nav li:last-child {
    padding: 0 14px;
        text-align: center;
  }
  footer {
    padding: 25px 0;
  }
  .feel_rested-sec h1{
     font-size: 30px;
  }
  .feel_rested-sec .inner_text {
    text-align: center !important;
    position: relative !important;
    color: white;
    top: unset !important;
    left: unset !important;
    transform: unset !important;
    color: white !important;
}
.feel_rested-sec {

    padding: 40px 0px !important;
}

.feel_rested-sec .img_sec{
  margin-bottom: 15px !important;
}
.we_are_team_sec h2 {
    font-size: 32px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 40px !important;
    letter-spacing: 0em;
    text-align: center;
}
.join-us-sec h2 {
    font-size: 50px !important ;
    font-style: normal;
    font-weight: 400;
    line-height: 50px !important;
    letter-spacing: 0em;
    text-align: center;
}
}

@media(max-width:767px) {
  .banner h2 {
    font-size: 34px;
    text-align: center;
  }
  .banner {
    padding: 25px 0;
  }
  .main-header .logo-item {
    width: 55%;
  }
  .main-header .navbar-light .navbar-nav .active>.nav-link {
    color: #fff;
  }
  .main-header .navigation ul.navbar-nav li a {
    color: #fff;
  }
  .main-page-content {
    padding-top: 65px;
  }
  footer .second-row {
    padding: 0 20px 20px;
  }
  footer ul {
    padding-bottom: 25px;
  }
}


@media (max-width: 480px){
.feel_rested-sec h1 {
    font-size: 22px;
}
.we_build_sec h2{
font-size: 22px;
}
.we_are_team_sec h2 {
  font-size: 22px !important;
  line-height: 30px !important;
}
.parters-section h1 {
  font-size: 22px !important;
}
.join-us-sec h2 {
  font-family: 'Rubik' !important;
    font-size: 30px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 30px !important;
    letter-spacing: 0em;
    text-align: center;
}
.footer-logo img{
    max-width: 100px;
  }
  .footer-logo {
    margin-bottom: 15px !important;
    padding-bottom: 15px !important;
}
.footer-section h4 {
    font-weight: normal;
    font-size: 30px;
    line-height: 0;
    color: #fff;
    padding: 10px 0px 30px;
    margin-bottom: 0px;
}
}
#footer-c-form input::placeholder{
  font-family: 'Libre Franklin' !important;
}
.feel_rested-sec h1{
color: #0D0A47;
font-family: 'Rubik' !important;
}
@media (min-width: 1200px) and (max-width: 1500px){
  .feel_rested-sec h1{
    font-size: 1.9rem !important;
  }
}

@media (min-width: 768px) and (max-width: 1200px){
  .feel_rested-sec h1{
    font-size: 1.5rem !important;
  }
}